#count {
  font-weight: bold;
  font-size: 70px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#count-txt {
  font-weight: bold;
  font-size: 35px;
  margin-top: -40px;
}

#dotted-border {
  border-left: 3px solid gray;
  border-style: none none none dotted;
}

#p-txt {
  color: gray;
  max-width: 90%;
}

#client-link {
  color: #A06CD5;
  font-size: 20px;
  font-weight: bold;
}

#background-new {
  background-color: #747474;
}

#client-slider {
  padding: 20px;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: gray!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mourner-slider {
  padding: 20px;
  color: #75d56c!important;
}

