<div class="banner">
  <%= video_tag "banner.mp4", class:"home_video", :controls => true, :autoplay => true %>
    <div class="container">
        <h1>Rest in peace with no worries! ⚰️</h1>
      <div class ="row">
        <div class="col-6 text-center mt-5">
          <div class="card" data-aos="fade-up-right" data-aos-duration="2000">
            <%= image_tag "hire.svg" %>
            <p>Need someone for a funeral ceremony ?</p>
            <button type="button" class="btn btn-secondary btn-lg" id="hire-btn">Hire a professional mourner !</button>
          </div>
        </div>
        <div class="col-6 text-center mt-5">
          <div class="card" data-aos="fade-up-left" data-aos-duration="2000">
            <%= image_tag "become.svg" %>
            <p>Need to earn some money ?</p>
            <button type="button" class="btn btn-secondary btn-lg" id="become-btn">Become a professional mourner !</button>
          </div>
        </div>
      </div>
    </div>
</div>
