<div class="banner">
  <%= video_tag "banner.mp4", class:"home_video", :controls => true, :autoplay => true %>
    <div class="container">
        <h1>Rest in peace with no worries! ⚰️</h1>
      <div class ="row">
        <div class="col-6 text-center mt-5">
          <p>Need someone for a funeral ceromony ?</p>
          <button type="button" class="btn btn-secondary btn-lg">Hire a pro mourner !</button>
        </div>
        <div class="col-6 text-center mt-5">
          <p>Need to earn some money ?</p>
          <button type="button" class="btn btn-secondary btn-lg">Become a pro mourner !</button>
        </div>
      </div>
    </div>
</div>
