.badge-accepted {
    color: white;
    background-color: #75d56c;
    position: absolute;
    top: 8px;
    right: 8px;
}

.badge-pending {
    color: white;
    background-color: #fc9803;
    position: absolute;
    top: 8px;
    right: 8px;
}
