.banner-home-client {
  background-image: linear-gradient(0.40turn, rgba(0,0,0,0.7) , rgba(0,0,0,0.45) ), asset-url('banner-client.jpg');
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 55%);
}

.banner-home-mourner {
  background-image: linear-gradient(0.40turn, rgba(0,0,0,0.7) , rgba(0,0,0,0.45) ), asset-url('NYC3559.jpg');
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 55%);
}
